<a class="col-md-6 text-center" href="/admin/employeesList">
  <div><button class="btn btn-primary profile-button" type="button">Quay lại</button></div>
</a>
<div class="container rounded bg-white mt-5 mb-5" *ngIf="employee else emptyEmployee">
  <div class="row">
    <div class="col-md-6 border-right">
      <form>
        <div class="p-3 py-5" *ngIf="luong; else emptyLuong">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right" style="font-size: 20px; color: black;">Lương nhân viên:</h4>
          </div>

          <div class="row mt-2">
            <div class="col-md-12"><label class="labels">Lương cơ bản</label>
              <input type="text" class="form-control" name="LuongCoBan" [(ngModel)]="luong.luongCoBan">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Cập nhật lần cuối</label>
              <input type="date" class="form-control" name="ngayCapNhat" [(ngModel)]=" luong.ngayCapNhat" readonly>
            </div>
            <div class="col-md-12">
              <label class="labels">Phụ cấp</label>
              <input type="text" class="form-control" name="phuCap" [(ngModel)]=" luong.phuCap ">
            </div>
          </div>
          <br>
          <br>

          <div class="row mt-3">
            <a class="col-md-12 text-center">
              <div><button class="btn btn-primary profile-button" type="button" (click)="submitLuongUpdate()">Lưu thay đổi</button></div>
            </a>
          </div>
        </div>
        <ng-template #emptyLuong>
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Salary Settings</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-12"><label class="labels">Lương cơ bản</label>
                <input type="text" class="form-control" name="LuongCoBan">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Cập nhật lần cuối</label>
                <input type="date" class="form-control" name="NgayCapNhat" [value]="currentDate" readonly>
              </div>
              <div class="col-md-12">
                <label class="labels">Phụ cấp</label>
                <input type="text" class="form-control" name="phuCap">
              </div>
            </div>
            <div class="row mt-3">
              <a class="col-md-12 text-center">
                <div><button class="btn btn-primary profile-button" type="button" (click)="submitLuongUpdate()">Save
                    Salary</button></div>
              </a>
            </div>
          </div>
        </ng-template>
      </form>

    </div>

    <div class="col-md-6 border-right">
      <form>
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right" style="font-size: 20px; color: black;">Hồ sơ:</h4>
          </div>

          <div class="row mt-2">
            <div class="col-md-12"><label class="labels">Họ và Tên</label>
              <input type="text" class="form-control" name="hoTen" [(ngModel)]="employee.hoTen">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Ngày Sinh</label>
              <input type="date" class="form-control" name="ngaySinh" [(ngModel)]=" employee.ngaySinh">
            </div>
            <div class="col-md-12">
              <label class="labels">Địa Chỉ</label>
              <input type="text" class="form-control" name="diaChi" [(ngModel)]=" employee.diaChi ">
            </div>
            <div class="col-md-12">
              <label class="labels">Số Điện Thoại</label>
              <input type="text" class="form-control" name="soDienThoai" [(ngModel)]=" employee.soDienThoai ">
            </div>
            <div class="col-md-12">
              <label class="labels">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="employee.email ">
            </div>
            <div class="col-md-12">
              <label class="labels">Chức vụ</label>
              <select [(ngModel)]="selectedRoleId" class="form-control" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
              </select>
            </div>
            <div class="col-md-12">
              <label class="labels">Phòng Ban</label>
              <select [(ngModel)]="selectedDepartment" class="form-control" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let department of departments" [value]="department.phongBanId">
                  {{ department.tenPhongBan }}
                </option>
              </select>
            </div>
          </div>
          <br>
          <br>

          <div class="row mt-3">
            <a class="col-md-12 text-center">
              <div><button class="btn btn-primary profile-button" type="button" (click)="submitProfileUpdate()">Lưu thay đổi</button></div>
            </a>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
<ng-template #emptyEmployee>

    <h4 class="text-center">Nhân viên không tồn tại</h4>

</ng-template>