<div class="container" style="width: 100%;">
    <div class="profile-section" >
        <div class="profile-picture" style="margin-bottom: 200px;">
            <img src="https://th.bing.com/th/id/OIP.vetPR8Q7sSk3H3LtVe5OSwHaLi?w=126&h=197&c=7&r=0&o=5&dpr=1.4&pid=1.7" alt="Profile Picture">           
            <h2>ID: {{employee?.nhanVienId}} -{{employee?.hoTen}}</h2>
        </div>
        
    </div>
    
    <div class="details-section">
        <h2>Cập nhật thưởng phạt</h2>
        <div class="info-form">
            <label>Ngày</label>
            <input type="date" name="ngay" [(ngModel)]="updateThuongPhat.ngay" >

            <label>Số tiền</label>
            <input type="text" name="soTien" [(ngModel)]="updateThuongPhat.soTien" >

            <label for="loai">Loại:</label>
            <select id="loai" name="loai" [(ngModel)]="updateThuongPhat.loai">
                    <option value="" disabled selected>Chọn loại</option>
                
                    <option value="Thuong">Thưởng</option>
                    <option value="Phat">Phạt</option>
            </select>

            <label>Ghi chú</label>
            <input type="text" name="ghiChu" [(ngModel)]="updateThuongPhat.ghiChu" >

            <button type="submit" (click)="btnUpdate()"> Lưu thay đổi</button>
            <button type="submit" (click)="btnBack()" style="margin-top: 0px;">Quay lại</button>
        </div>
    </div>
</div>