<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img [src]="'https://www.pace.edu.vn/uploads/news/2023/11/cach-quan-ly-nhan-vien.jpg'" alt="Image" class="login-image">
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu?</h1>
                                    <p class="mb-4">Chúng tôi hiểu, mọi thứ đều có thể xảy ra. Chỉ cần nhập địa chỉ email của bạn bên dưới và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu!</p>
                                </div>

                                <form [formGroup]="emailSendOtpForm" class="user" (ngSubmit)="onSendOTP()">
                                    <div class="form-group">
                                      <input type="email" class="form-control form-control-user"
                                             id="exampleInputEmail" aria-describedby="emailHelp"
                                             placeholder="Nhập địa chỉ email..." formControlName="email">
                                    </div>
                                    <div *ngIf="emailSendOtpForm.get('email')?.invalid && (emailSendOtpForm.get('email')?.dirty || emailSendOtpForm.get('email')?.touched)">
                                      <small class="text-danger" *ngIf="emailSendOtpForm.get('email')?.errors?.['required']">Email is required.</small>
                                      <small class="text-danger" *ngIf="emailSendOtpForm.get('email')?.errors?.['email']">Invalid email format.</small>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Gửi OTP</button>
                                  </form>
                                  
                                  <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/login">Đã có tài khoản? Đăng nhập!</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
