<div class="calendar-container">
  <!-- Calendar Section -->
  <div class="calendar-section">
    <mat-calendar (selectedChange)="onDateSelected($event)"></mat-calendar>
  </div>

  <!-- Attendance Table Section -->
  <div class="table-section">
    <p *ngIf="selectedDate">Selected Date: {{ selectedDate | date: 'fullDate' }}</p>

    <table *ngIf="attendanceRecords?.length; else noRecords">
      <thead>
        <tr>
          <th>Ngày Điểm Danh</th>
          <th>Trạng Thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of attendanceRecords">
          <td>{{ attendance.ngayDiemDanh | date: 'fullDate' }}</td>
          <td>{{ attendance.trangThai ? "Có Mặt" : "Vắng" }}</td>
        </tr>
      </tbody>
    </table>

    <br>

    <form (ngSubmit)="onDiemDanh()">
      <div class="button-container">
        <button class="btn btn-primary profile-button" type="submit">Điểm Danh</button>
      </div>
    </form>
    
    <ng-template #attendanceDialog let-data>
      <h2 mat-dialog-title>Điểm Danh</h2>
      <mat-dialog-content>
        <p>Ngày Điểm Danh: {{ data.date | date: 'fullDate' }}</p>
        <p>Trạng Thái: {{ data.status ? 'Có Mặt' : 'Vắng' }}</p>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Đóng</button>
      </mat-dialog-actions>
    </ng-template>

    <ng-template #noRecords>
      <p>No attendance records found for the selected period.</p>
    </ng-template>

  </div>
</div>