<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary" style="font-size: 25px;">Thêm Phòng Ban</h6>
      <button class="btn btn-primary" style="background-color: cornflowerblue;"
       [routerLink]="['/admin/departmentList']" routerLinkActive="true">
        Back
      </button>
    </div>
    <div class="card-body">
      <div class="form-container">
        <div class="form-group">
          <label for="tenPhongBan">Tên phòng ban</label>
          <input type="text" id="tenPhongBan" [(ngModel)]="tenPhongBan" />
        </div>
    
        <div class="form-group">
          <label for="moTa">Mô tả</label>
          <input type="text" id="moTa" [(ngModel)]="moTa" />
        </div>
    
        <button class="btn-submit" (click)="onSubmit()">Thêm Phòng Ban</button>
      </div>
    </div>
    
  </div>
  