<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Chỉnh sửa Phòng Ban</h6>
      <button class="btn btn-secondary" [routerLink]="['/admin/departmentList']">Quay lại</button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Tên Phòng Ban</label>
        <input type="text" class="form-control" [(ngModel)]="tenPhongBan" placeholder="Nhập tên phòng ban" />
      </div>
      <div class="form-group mt-3">
        <label>Mô Tả</label>
        <input type="text" class="form-control" [(ngModel)]="moTa" placeholder="Nhập mô tả" />
      </div>
      <button class="btn btn-primary mt-4" (click)="onSubmit()">Cập nhật</button>
    </div>
  </div>
  