<div class="container" style="width: 100%;">
    <div class="profile-section" >
        <div class="profile-picture" style="margin-bottom: 200px;">
            <img class="img-profile rounded-circle" width="80px" height="100"
            [src]="'assets' +'/' +employee.avatar" alt="...">
        </div>
        <div class="rewards-penalties" style="margin-top: 40px;">
            <h3 style="font-size: 25px;">Danh Sách Thưởng/Phạt</h3>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Loại</th>
                        <th>Số tiền</th>
                        <th>Ghi chú</th>
                        <th>Chỉnh sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @for (tp of thuongPhatList; track $index) {
                        <tr>
                            <td style="text-wrap: nowrap;">{{tp.ngay}}</td>
                            <td>{{tp.loai}}</td>
                            <td>{{(tp.soTien | currency:'VND':'symbol':'1.0-0')?.replace('₫', '') + '₫'}}</td>
                            <td>{{tp.ghiChu}}</td>
                            <td class="action-buttons" style="text-align: center;">
                                <button style="color: #4e73df;" [routerLink]="['/updateThuongPhat', employee.nhanVienId, tp.thuongPhatId]" routerLinkActive="active">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </td>
                            <td class="action-buttons"  style="text-align: center;">
                                <button (click)="btnDelete(tp.thuongPhatId)" style="color: #e74a3b;"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                    
                    
                    <!-- Thêm nhiều mục khác nếu cần -->
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="details-section">
        <h2 style="font-size: 30px;">Chi Tiết Nhân Viên</h2>
        <div class="info-form">
            <label>Họ tên</label>
            <input type="text" value="{{employee?.hoTen}}" readonly>

            <label>Ngày sinh</label>
            <input type="text" readonly value="{{employee?.ngaySinh}}" >

            <label>Số điện thoại</label>
            <input type="text" readonly value="{{employee?.soDienThoai}}">

            <label>Email</label>
            <input type="text" readonly value="{{employee?.email}}">

            <label>Địa chỉ</label>
            <input type="text" readonly value="{{employee?.diaChi}}">

            <label>Phòng ban</label>
            <input type="text" readonly value="{{employee?.phongBan.tenPhongBan}}">

            <label>Lương ước tính (đến {{today}})</label>
            <input type="text" readonly value="{{(luong?.luongThucTe | currency:'VND':'symbol':'1.0-0')?.replace('₫', '') + '₫'}}">

            <label>Thưởng</label>
            <input type="text" readonly value="{{(luong?.tongThuong | currency:'VND':'symbol':'1.0-0')?.replace('₫', '') + '₫'}}">

            <label>Phạt</label>
            <input type="text" readonly  [value]="(luong?.tongPhat | currency:'VND':'symbol':'1.0-0')?.replace('₫', '') + 'đ'">

            <label>Điểm danh</label>
            <div class="text-box" (click)="btnDiemDanh()">
                {{luong?.soNgayDiLam}}/{{luong?.ngayCongChuan}} Ngày
                <i style="margin-left: auto; color: #b1b3b8;" class="fa-solid fa-chevron-right"></i>
            </div>

            <button [routerLink]="['/createThuongPhat', employee?.nhanVienId]"routerLinkActive="active">Thêm thưởng phạt</button>
        </div>
    </div>
</div>