mat-dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    min-width: 80px;
  }
  