<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img [src]="'https://www.pace.edu.vn/uploads/news/2023/11/cach-quan-ly-nhan-vien.jpg'" alt="Image" class="login-image">
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Vui lòng đăng nhập!</h1>
                                </div>

                                <form class="user" (ngSubmit)="onLogin()">
                                    <div class="form-group">
                                        <input type="email" [(ngModel)]="loginObj.email" name="email"
                                            class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" [(ngModel)]="loginObj.matKhau" name="matKhau"
                                            class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                  
                                 
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button> 

                                    <hr>
                                    <div class="error-message">
                                        @if(loginFailed){
                                            <h6 style="padding-left: 75px;color: red;">Đăng nhập thất bại. Vui lòng thử lại.</h6>
                                        }
                                    </div>
                                </form>
                                
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgot-password">Quên mật khẩu?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>

</div>