<!-- DataTales Example -->
<router-outlet></router-outlet>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary" style="font-size: 25px;">Danh sách nhân viên</h6>
        <a class="btn btn-primary" style="background-color: cornflowerblue;" routerLink="add"
            routerLinkActive="true">Thêm mới nhân viên</a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" class="table table-bordered" id="dataTable"
                width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Chức vụ</th>
                        <th>Phòng ban</th>
                        <th>Trạng thái</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of employeeList; trackBy: trackByEmployee">
                      <td [class.banned-row]="e.isBanned"> {{ e.nhanVienId }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ e.hoTen }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ e.ngaySinh }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ e.soDienThoai }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ e.email }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ getRoleName(e.roleId) }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ e.phongBan.tenPhongBan }} </td>
                      <td [class.banned-row]="e.isBanned"> {{ getActive(e.isBanned) }} </td>
                      <td [class.banned-row]="e.isBanned">
                        <button class="btn btn-primary" [routerLink]="['/viewEmployeeDetail/', e.nhanVienId]">Xem</button>
                      </td>
                      <td [class.banned-row]="e.isBanned">
                        <button class="btn btn-primary" [routerLink]="['/editEmployee', e.nhanVienId]">Chỉnh sửa</button>
                      </td>
                      <td [class.banned-row]="e.isBanned" *ngIf="e.isBanned else notBanned"  >
                        <button class="btn btn-primary" style="background-color: green;"
                                (click)="UnbanEmployee(e.nhanVienId)">Unban</button>
                      </td>
                      <ng-template #notBanned>
                        <td [class.banned-row]="e.isBanned">
                            <button class="btn btn-primary" style="background-color: crimson;"
                                    (click)="confirmDeleteEmployee(e.nhanVienId, e.roleId)">Ban</button>
                          </td>
                      </ng-template>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>

