
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="font-size: 25px;">Danh sách nhân viên {{phongBan.tenPhongBan}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nhân viên Id</th>
                                            <th>Họ tên</th>
                                            <th>Chức vụ</th>
                                            <th>Ngày sinh</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (e of employeeList; track e.nhanVienId) {
                                            <tr [routerLink]="['/viewEmployeeDetail', e.nhanVienId]" routerLinkActive="active" style="cursor: pointer;">
                                                
                                                <td>{{e?.nhanVienId}}</td>
                                                <td>{{e?.hoTen}}</td>
                                                <td>{{ getRoleName(e.roleId) }}</td>
                                                <td>{{e?.ngaySinh}}</td>
                                                <td>{{e?.soDienThoai}}</td>
                                                <td>{{e?.email}}</td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>