<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="logout()">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Personnel Management</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active" *ngIf="roles$ | async as roles">
        <a class="nav-link" routerLink="viewEmployeeList" routerLinkActive="true" *ngIf="roles.includes('Admin')|| roles.includes('Manager')" >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Danh sách nhân viên</span></a>
    </li>
    <li class="nav-item active" *ngIf="roles$ | async as roles">
        <a class="nav-link" routerLink="admin" routerLinkActive="true" *ngIf="roles.includes('Admin')" >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Admin Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded" *ngIf="roles$ | async as roles">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" routerLink="admin/departmentList" routerLinkActive="true" *ngIf="roles.includes('Admin')">Quản Lý Phòng ban</a>
                <a class="collapse-item" routerLink="admin/employeesList" routerLinkActive="true" *ngIf="roles.includes('Admin')"> Quản Lý Nhân viên</a>
                <a class="collapse-item" routerLink="/viewEmployeeList" routerLinkActive="true" *ngIf="roles.includes('Admin') || roles.includes('Manager')"> Danh Sách Nhân viên</a>
                <a class="collapse-item" routerLink="/diemdanh" routerLinkActive="true">Điểm Danh</a>
                <a class="collapse-item" routerLink="/lichnghi" routerLinkActive="true" *ngIf="roles.includes('Admin')">Lịch nghỉ</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="/login">Login</a>
                <a class="collapse-item" href="/forgot-password">Forgot Password</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item" *ngIf="roles$ | async as roles">
        <a class="nav-link" href="/admin" *ngIf="roles.includes('Admin')" >
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts Admin</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>Personnel Management</strong> is packed with premium features, components,
            and more!</p>
    </div>

</ul>