<div class="container" style="width: 100%;">
    <div class="profile-section" >
        <div class="profile-picture" style="margin-bottom: 200px;">
            <img class="img-profile rounded-circle" width="80px" height="100"
            [src]="'assets' +'/' +employee.avatar">
                      
            <h3 style="font-size: 30px;">ID: {{employee?.nhanVienId}} - {{employee?.hoTen}}</h3>
            <p style="font-size: 25px;
            color: #858796;
            margin-bottom: 0;">{{employee?.phongBan.tenPhongBan}}</p>
        </div>
        
    </div>
    
    <div class="details-section">
        <h2 style="font-size: 30px;">Chi Tiết Nhân Viên</h2>
        <div class="info-form">
            <label>Ngày</label>
            <input type="date" name="ngay" [(ngModel)]="addThuongPhat.ngay" >

            <label>Số tiền</label>
            <input type="number" name="soTien" [(ngModel)]="addThuongPhat.soTien" >

            <label for="loai">Loại:</label>
            <select id="loai" name="loai" [(ngModel)]="addThuongPhat.loai">
                    <option value="" disabled selected>Chọn loại</option>
                
                    <option value="Thuong">Thưởng</option>
                    <option value="Phat">Phạt</option>
            </select>

            <label>Ghi chú</label>
            <input type="text" name="ghiChu" [(ngModel)]="addThuongPhat.ghiChu" >

            <button type="submit" (click)="btnAdd()">Thêm thưởng phạt</button>
            <button type="submit" (click)="btnBack()" style="margin-top: 0px;">Quay lại</button>
        </div>
    </div>
</div>