<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách nhân viên</h6>
        <button class="btn btn-primary" style="background-color: cornflowerblue;"
        [routerLink]="['/admin/employeesList']"
        routerLinkActive="true"
        >Back</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table>
                <div class="">
                    <span>Tên nhân viên</span>
                    <input type="text" [(ngModel)]="hoTen">
                </div>
              
                <div class="">
                  <span>Ngày sinh</span>
                  <input type="date" [(ngModel)]="ngaySinh">
                </div>
              
                <div class="">
                  <span>Địa chỉ</span>
                  <input type="text" [(ngModel)]="diaChi">
                </div>
              
                <div class="">
                  <span>Số điện thoại</span>
                  <input type="text" [(ngModel)]="soDienThoai">
                </div>
              
                <div class="">
                  <span>Email</span>
                  <input type="email" [(ngModel)]="email">
                </div>
              
                <div class="">
                  <span>Mật khẩu</span>
                  <input type="text" [(ngModel)]="matkhau">
                </div>
              
                <div class="">
                    <span>Phòng ban</span>
                    <select [(ngModel)]="selectedDepartment">
                        <option *ngFor="let department of departments" [value]="department.phongBanId">
                            {{ department.tenPhongBan }}
                        </option>
                    </select>
                </div>
              
                <div class="">
                    <span>Role</span>
                    <select [(ngModel)]="selectedRole">
                        <option *ngFor="let role of roles" [value]="role.id">
                            {{ role.name }}
                        </option>
                    </select>
                </div>
              
                <button class="btn btn-primary" style="background-color: deepskyblue;" 
                (click)="onSubmit()">Thêm Nhân Viên</button>
              </table>
        </div>
    </div>
</div>
